@model AnilUniversity.Models.StudentPayment
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@{
    ViewData["Title"] = "Student Fee Payment";
    var student = ViewBag.Student as AnilUniversity.Models.Student;
}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h3>Student Fee Payment</h3>
        </div>


        <div class="card-body">

            <form method="post" id="paymentForm">


                <input asp-for="StudentId" type="hidden" />


                <input type="hidden" id="RazorpayPaymentId" name="RazorpayPaymentId" />
                <input type="hidden" id="RazorpayOrderId" name="RazorpayOrderId" />
                <input type="hidden" id="RazorpaySignature" name="RazorpaySignature" />



                <div class="row">


                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Student Name
                        </label>

                        <input class="form-control"
                               value="@student.FullName"
                               readonly />

                    </div>



                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Course
                        </label>

                        <input class="form-control"
                               value="@student.Course.CourseName"
                               readonly />

                    </div>



                    <div class="col-md-6 mb-3">

                        <label asp-for="Amount"></label>

                        <input asp-for="Amount"
                               class="form-control"
                               id="Amount" />

                    </div>



                    <div class="col-md-6 mb-3">

                        <label>
                            Payment Mode
                        </label>


                        <select asp-for="PaymentMode"
                                id="paymentMode"
                                class="form-select">

                            <option value="">--Select Mode--</option>
                            <option>UPI</option>
                            <option>Credit Card</option>
                            <option>Debit Card</option>
                            <option>Net Banking</option>
                        </select>

                    </div>




                    <div class="col-md-6 mb-3"
                         id="transactionDiv">


                        <label asp-for="TransactionId"></label>

                        <input asp-for="TransactionId"
                               class="form-control" />

                    </div>




                   



                    <div class="col-md-12 mb-3">


                        <label>
                            Remarks
                        </label>


                        <textarea asp-for="Remarks"
                                  class="form-control"></textarea>


                    </div>





                  




                </div>



                <button type="button"
                        id="payBtn"
                        class="btn btn-success">

                    Pay Now

                </button>



               


                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="StudentPortal"
                       asp-action="MyPayments"
                       class="btn btn-secondary">
                        Back
                    </a>
                }
                else
                {
                    <a asp-controller="StudentPortal"
                       asp-action="MyPayments"
                       class="btn btn-secondary">
                        Cancel
                    </a>
                }



            </form>


        </div>


    </div>


</div>


@section Scripts
{
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        $(document).ready(function () {

        $("#transactionDiv").hide();
        $("#payBtn").hide();

        $("#paymentMode").change(function () {

        if ($(this).val() == "") {
        $("#payBtn").hide();
        }
        else {
        $("#payBtn").show();
        }

        });

        $("#payBtn").click(function () {

        var amount = $("#Amount").val();

        if (amount == "" || parseFloat(amount) <= 0) {
        alert("Enter valid amount");
        return;
        }

        $.ajax({
        url: '/Payment/CreateOrder',
        type: 'POST',
        data: {
        amount: amount
        },
        success: function (data) {

        var options = {
        key: data.key,
        amount: amount * 100,
        currency: "INR",
        name: "ANIL UNIVERSITY",
        description: "Student Fee Payment",
        order_id: data.orderId,

        handler: function (response) {

        $("#RazorpayPaymentId").val(response.razorpay_payment_id);
        $("#RazorpayOrderId").val(response.razorpay_order_id);
        $("#RazorpaySignature").val(response.razorpay_signature);

        $("#paymentForm")
        .attr("action", "/Payment/VerifyPayment")
        .submit();
        },

        theme: {
        color: "#198754"
        }
        };

        var rzp = new Razorpay(options);
        rzp.open();
        },
        error: function () {
        alert("Unable to create Razorpay order.");
        }
        });

        });

        });
    </script>
}