@{
    ViewData["Title"] = "About";
}

<div class="container py-5">

    <h2 class="text-primary mb-4">About Anil University</h2>

    <div class="card shadow p-4">

        <p>
            Anil University is an Online Admission and Student Management
            System developed using ASP.NET Core MVC, Entity Framework Core,
            SQL Server and Identity.
        </p>

        <p>
            This portal provides Online Admission, Student Dashboard,
            Attendance, Payments, Notifications and ID Card generation.
        </p>

    </div>

</div>