@{
    ViewData["Title"] = "Contact";
}

<div class="container py-5">

    <h2 class="text-primary mb-4">Contact Us</h2>

    <div class="card shadow p-4">

        <h5>Anil University</h5>

        <hr />

        <p>
            <b>Email :</b> anilkachhapmca@gmail.com
        </p>

        <p>
            <b>Phone :</b> +91 7667052128
        </p>

        <p>
            <b>Address :</b> Hyderabad, Telangana
        </p>

    </div>

</div>